@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto+Slab:wght@400;500&display=swap');

body{
    font-family: "Roboto Slab", serif;
    color: #36454f;
    background-color: #f7f7f7;
    height: 100%;
}
/*!-------------------------------------------------Nav Bar---------------------------------------------------*/
.navbar-custom {
    background-color: rgb(193, 238, 253);
    font-size: 1.7rem;
    /*display: block;*/
    text-align: center;
    /*padding: 4px 15px;*/
    list-style: none;
    margin: 0;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url(“data:image/svg+xml;charset=utf8,%3Csvg viewBox=’0 0 32 32' xmlns=’http://www.w3.org/2000/svg'%3E%3Cpath stroke=’rgba(255,102,203, 0.5)’ stroke-width=’2' stroke-linecap=’round’ stroke-miterlimit=’10' d=’M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E”);
}
.navbar-custom .navbar-brand {
    background-color:#ffffec;
    color: #36454f;
    text-shadow: 3px 3px 5px rgb(193, 238, 253);
    padding: 4px 10px;
    font-family: "Courgette", cursive;
    font-size: 2.6rem;
    letter-spacing: .1rem;
    display: block;
    border-radius: 1.5rem;
    list-style: none;
    margin: 0;
   
}
.navbar-nav .navbar-custom .navbar-item .navbar-link {
  display: block;
  color: #36454f;
  text-decoration: none;
}

navbar {
  background-color: rgb(193, 238, 253);
  list-style-type: none;
  margin: 0;
}

nav-item {
  display: block;
  color: #ffffec;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1.4rem;
  padding: 12px 20px;
}

nav-link:hover {
  color: ;
  text-decoration: none;
}

/*----------------------------------------------------End Nav Bar------------------------------------------------*/

/*----------------------------------------------------Hero Image-------------------------------------------------*/

.home {
    background: url('../images/bar-640.png');
}
.menu {
    background: url('../images/hero-food-image.png');
}
.contact {
    background: url('../images/bar-at-night-640.png');

}
.functions {
    background: url('../images/glasses.png');
}
                /*------"Display-flex to align-items:center" given by my mentor------*/
#hero-image {
    display: flex;
    justify-content: center;
    align-items:center;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 60vh;
    position: relative;
    margin: 0;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
                /*----.hero-text{} Taken from w3schools and amended-------*/
#hero-text, .hero-text-h1 {
    text-align: center;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: rgb(193, 238, 253);
    border-radius: 1.5rem;
    font-size: 4.5rem;
    padding: 15px 20px;
    font-family: "Courgette", cursive;
    color: #ffffec;
    text-shadow: 3px 3px 6px #36454f;
  
}
/*---------------------------------------------------------End Hero Image------------------------------------------*/

/*------------------------------------------------------------About Us---------------------------------------------*/
.about {
    color: #36454f;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    background-color: #ffffec;
    text-align: center;
}
.about-review-heading {
    color: #36454f;
    font-family: "Courgette", cursive;
    padding-bottom: 8px;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px #fafafa;
}
.jumbotron {
    margin: 0; 
}
/*----------------------------------------------End of About Us Section--------------------------------------------*/

/*---------------------------------------------------Review Section------------------------------------------------*/
.reviewer-details {
    font-family: "Courgette", cursive;
}
.reviews {
    color: #060930;
    font-size: 1.5rem;
    background-color: rgb(193, 238, 253);
}
.reviewer-image {
    height: 100px;
    width: 100px;
    object-fit: cover;
}
/*---------------------------------------------------End Review Section--------------------------------------------*/

/*--------------------------------------------------------Footer---------------------------------------------------*/
footer {
    clear: both;
    background-color: #36454f;
    color: #ffffec;
    padding: 30px 10px;
}
.footer-heading {
    color: rgb(193, 238, 253);
    font-family: "Courgette", cursive;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 6px;
}
.footer-text {
    font-size: 1.2rem;
    margin: 2px;
    padding: 2px;
}
.social-links {
    font-size: 3rem;
    margin: 2px;
    padding: 2px 1px;
}
.footer-legal {
    color: rgb(0, 204, 255);
    font-size: 1rem;
}
footer span {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize; 
}
/*-------------------------------------------------------End Footer----------------------------------------------*/

/*-------------------------------------------------------Gallery---------------------------------------------------*/
.img-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-evenly;
}
.item {
    margin: 0;
}
/*------------------------------------------------------End Gallery------------------------------------------------*/

/*--------------------------------------------------------Functions------------------------------------------------*/
.function-header-details {
    color: #36454f;
    font-family: "Courgette", cursive;
    padding-bottom: 8px;
    font-size: 3rem;
    font-weight: bold;
    background-color: #ffffec;
    text-shadow: 2px 2px 2px #fafafa;
}
.function-details {
    color: #36454f;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    background-color: #ffffec;
}
/*------------------------------------------------------End Functions----------------------------------------------*/
/*-------------------------------------------------------Contact page----------------------------------------------*/
             /*---------------------------------------------Form------------------------------------------*/
.container-one{
    background-color: #ffffec;
    padding: 30px;
} 
input[type=text], input[type="email"], select, textarea{
  width: 40vw;
  padding: 7px;
  border: 1.5px solid #36454f;
  border-radius: 7px;
  box-sizing: border-box;
  resize: vertical;
}
legend {
    font-size: 3rem;
    font-family: "Courgette", cursive;
    color:#36454f;
    text-shadow: 2px 2px 2px #fafafa;
}
label {
    margin-top: 20px;
    font-family: "Courgette", cursive;
    font-size: 1.5rem;
    color: black;
    padding: 2px 1px 0px 0px;
}
.btn {
    background-color: red;
    color: white;
    text-transform: uppercase;
    height: 36px;
    width: 90px;
    text-align: center;
    border: 1.5px solid #36454f;
}

@media screen and (max-width: 800px) {
    input[type=text], input[type=email], select, textarea {
    width: 100%;
    margin-top: 0;
  }
  legend {
      font-size: 1.5rem;
  }
}
/*-------------------------------------------------------End Form--------------------------------------------------*/
/*-------------------------------------------------------Menu Page-------------------------------------------------*/
        /*-----------------------------------Taken from w3schools and amended-----------------------------*/
.column {
  float: left;
  width: 50%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.download {
    background-color: #ffffec;
}
.menu-heading {
    color: #36454f;
    font-family: "Courgette", cursive;
    padding-bottom: 10px;
    font-size: 3rem;
    font-weight: bold;
}
.pdf-text {
    color: #36454f;
    font-size: 1.5rem;
    letter-spacing: .1rem;
}

@media screen and (max-width: 1200px) {
  .column {
    width: 100%;
  }
}

/*-----------------------------------------------------End Menu Page------------------------------------------------*/
