@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto+Slab:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');

 body{
    font-family: "Roboto Slab", serif;
    color: #0f5e92;
    background-color: #ffffec;
    height: 100%;
    width: 100%;
    text-align: center;
}

/*---Nav-Bar----*/
.navbar-custom {
    background-color: rgb(13, 33, 71);
    font-size: 1rem;
}
.navbar-custom .navbar-brand {
    color: #e7d7bffd;
    padding: 4px 7px;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 2rem;
    letter-spacing: .1rem;
    display: block;
    border-radius: 1.5rem;
    list-style: none;
    margin: 0;
}

.nav-link {
    color: #e7d7bffd !important;
}

.navbar-custom a:hover {
    color: rgb(228, 206, 82) !important;
    background-color: rgb(13, 33, 71);
    border-radius: 1rem;
}
.home {
    background: url('../images/cocktail-bar.jpg');
}
.home1{
    background: url('../images/cocktail-bar-new.jpg');
}
.menu {
    background: url('../images/restaurant-food.jpg');
}
.contact {
    background: url('../images/bar-at-night-640.png');
}
.functions {
    background: url('../images/glasses.png');
}
/*------"Display-flex-to-align-items:center"-given-by-my-mentor------*/
#hero-image {
    display: flex;
    justify-content: center;
    align-items:center;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 70vh;
    position: relative;
    margin: 0;
    padding: 0;
}
.intro-h1 {
    font-size: 3rem;
    padding-top: 15px;
    text-shadow: 2px 2px 2px rgb(193, 238, 253);
}

/*------------Review-Section--------------*/
.reviewer-details {
    font-family: 'Gemunu Libre', sans-serif;
    color: #000;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.822);
}
.reviews {
    width: 100vw;
    padding: 20px;
    margin: 0;
    color: #36454f;
    font-size: 1rem;
    font-family: 'Gemunu Libre', sans-serif;
    background-color:rgb(193, 238, 253);
}
.review-title {
    background-color: rgb(193, 238, 253) !important;
}
.reviewer-image {
    height: 100px;
    width: 100px;
    object-fit: cover;
}
/*---------------Footer----*/
footer {
    margin: 0;
    background-color:rgb(13, 33, 71);
    color: #ffffec;
    padding: 30px 10px;
}
.footer-heading {
    color: rgb(193, 238, 253);
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 6px;
}
.footer-text {
    font-size: .8rem;
    margin: 2px;
    padding: 2px;
}
.social-links {
    font-size: 1.5rem;
    margin: 2px;
    padding: 2px 1px;
}
.footer-legal {
    color: rgb(0, 204, 255);
    font-size: .8rem;
}
.email-address {
    color: rgb(0, 204, 255);
    font-size: 1rem;
}
.email-address:hover {
    color: #ffffec;
}
footer span {
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize; 
}
/*----Gallery----*/
/*-----Responsive-gallery-taken-from-taniarascia.com--*/
.gallery {
    background-color: #ffffec;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.gallery-text {
    padding-top: 120px;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
    /*padding: 0 1rem;*/
}
.responsive-image {
    max-width: 100%;
}
.cell-img {
    display: block;
}
@media screen and (min-width: 600px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .cell {
        width: 50%;
        background-color: black;
    }
}
@media screen and (max-width: 767px) {
    .gallery-text { 
        font-size: 1rem;
    }
    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .cell {
        width: 50%;
        background-color: #000;
    }
    .function-header-details, .customer-details, .help-details {
        text-align: center !important;
        font-size: 1.3rem !important;
        font-family: 'Gemunu Libre', sans-serif;
    }
    .navbar-brand {
        font-size: 1.4rem !important;
    }
    .navbar-toggler {
        background-color: #ffffec !important;
        font-size: .8rem;
    }
    .intro-h1 {
        font-size: 2rem;
    }
    .intro-h2 {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1000px) {
    .cell {
        width: 25%;
        background-color: black;
    }
}
@media screen and (max-width: 400px) {
    #home-image {
        background: 400px;
      }
    p {
        font-size: 1rem;
        line-height: 1.6rem;
        padding: 2px;
    }
}
/*---Functions---*/
.function-header-details {
    color: #36454f;
    font-family: 'Gemunu Libre', sans-serif;
    padding-bottom: 2px;
    font-size: 1.8rem;
    font-weight: bold !important;
    background-color: #ffffec;
    text-shadow: 2px 2px 2px rgb(193, 238, 253);
}
.function-h3 {
    font-size: .8rem;
    font-weight: bold;
}
.function-h4 {
    font-size: .6rem;
    font-weight: bold;
}
.function-details {
    color: #36454f;
    font-size: 1rem;
    letter-spacing: .1rem;
    background-color: #ffffec;
}
/*--Menu--*/
/*---Taken-from-w3schools-and-Amended---*/
    .column {
            float: left;
            width: 50%;
            padding: 5px;
        }
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
        .download {
            background-color: #ffffec;
            font-family: 'Gemunu Libre', sans-serif;
            font-size: 1rem;
        }
        .menu-heading {
            color: #36454f;
            font-family: 'Gemunu Libre', sans-serif;
            padding-bottom: 10px;
            font-size: 1.5rem;
            font-weight: bold;
        }
        .pdf-text {
            color: #36454f;
            font-size: 1rem;
            letter-spacing: .1rem;
        }
        
        @media screen and (max-width: 1200px) {
          .column {
            width: 100%;
          }
        }
.menu-text {
    padding-top: 20px;
}
/*--Form--*/
.container-one{
    background-color: #ffffec;
    padding: 30px;
} 
input[type=text], input[type="email"], select, textarea{
   width: 40vw;
   padding: 7px;
   border: 1.5px solid #36454f;
   border-radius: 7px;
   box-sizing: border-box;
   resize: vertical;
}
legend {
    font-family: 'Gemunu Libre', sans-serif;
    color:#36454f;
    text-shadow: 2px 2px 4px rgb(193, 238, 253);
    font-weight: bold;
}
.customer-details {
    font-size: 3.5rem;
}
.help-details {
    font-size: 1.5rem;
    padding: 10px;
}       
label {
    margin-top: 20px;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 1.5rem;
    color: #36454f;
    padding: 2px 1px 0px 0px;
    text-shadow: 2px 2px 4px rgb(193, 238, 253);
}
.btn {
    background-color: red;
    font-size: small;
    color: white;
    padding: 5px;
    text-transform: uppercase;
    height: 36px;
    width: 90px;
    text-align: center;
    border: 1.5px solid #36454f;
}

@media screen and (max-width: 800px) {
    input[type=text], input[type=email], select, textarea {
    width: 100%;
    margin-top: 0;
  }
  legend {
    font-size: 1.5rem;
  }
}
/*---Dark Mode---*/
@media (prefers-color-scheme: dark) {
    body, .container-one, .gallery, .download, .functions-bg {
      color: #eee;
      background-color: #C996CC!important;
    }
    .intro {
        background-color: #121212;
        padding-bottom: 5px;
    }
    .dark-mode {
        background-color: #eee !important;
    }
    .navbar-custom {
      background-color: #121212 !important;
    }
    .navbar-custom a:hover, .btn {
        color: #dcb2df !important;
        background-color: rgb(13, 33, 71);
    }
    .help-details, label {
        color: #150050;
        text-shadow: none;
    }
    .navbar-brand, .nav-link, .intro-h1 {
        color: #FB2576 !important;
        text-shadow: none;
      }
    .intro-h2 {
        color: #C996CC;
    }
    .reviews, .function-header-details {
        background-color: #C996CC !important;
        text-shadow: none;
        color: #150050;
    }

    .reviewer-details {
        text-shadow: none;
    }
    footer {
        background-color: #150050
    }
    a, .menu-dark, hr {
        color: #150050;
    }
    i, footer {
        color: #C996CC;
    }
    .footer-heading, .footer-legal, .email-address, .fa-download {
        color: #FB2576;
    }
  }